@font-face {
  font-family: 'babyFonts';
  src: url('./assets/fonts/baby-kruffy.regular.ttf');
}

html,
body,
#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fff7;
}
